/** @format */

.main-container {
  background-image: url("../image/img5.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: +100;
}
.h2-home {
  color: black;
  position: absolute;
  top: 30%;
  right: 40%;
}
