/** @format */

.singUp-container {
  background-image: url(../image/img1.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.h1-sign {
  color: black;
  position: absolute;
  top: 30%;
  right: 30%;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
input {
  margin: 5px;
  height: 30px;
}
